{% extends 'base.html.twig' %}


{% block title %}Categories List {% endblock %}
{% block body %}

	<style>
		.containerForm {
			margin-top: 100px;
		}
		.table.bg-light {
			background-color: rgba(0, 0, 0, 0.07) !important;
		}
		.table.bg-light th,
		.table.bg-light td {
			background-color: rgba(255, 255, 255, 0.58) !important;
		}
		.card {
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
		.parallax {
		background-image: url('/protected-bg/backgroundParallax2.png');
		height: 100vh;
		width: 100%;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		filter: grayscale(0.4);
		background-size: cover;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		}
	</style>
	<div class="parallax">
		<div class="container ">
			<div class="row my-5">
				<div class="card p-4 bg-light bg-opacity-50" style="max-width: 650px; margin: 0 auto;">
					<div class="d-flex justify-content-center">
						<h1>Liste des catégories</h1>
					</div>
					<div class="table-responsive">
						<table class="table bg-light table-hover mb-0">
							<thead>
								<tr>
									<th scope="col" style="width: 60px;">ID</th>
									<th scope="col">Nom de la catégorie</th>
									<th scope="col" style="width: 200px;">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for category in categories %}
									<tr>
										<th scope="row">{{category.id}}</th>
										<td class="align-middle">{{category.name}}</td>
										<td>
											<a href="{{path('app_category_update', {'id': category.id})}}" class="btn btn-outline-primary btn-sm">Modifier</a>
											<a onclick="return confirm('Voulez vous vraiment supprimer cette catégorie ?')" href="{{path('app_category_delete', {'id': category.id})}}" class="btn btn-outline-danger btn-sm">Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{# <div class="border-top border-2 border-light"></div> #}
				<div class="d-flex justify-content-center">
					<a href="{{path('app_category_add')}}" class="btn btn-light text-dark mt-3 px-4">Ajouter une nouvelle catégorie</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
