{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
	<style>
		.table.bg-light {
			background-color: rgba(0, 0, 0, 0.07) !important;
		}
		.table.bg-light th,
		.table.bg-light td {
			background-color: rgba(255, 255, 255, 0.58) !important;
		}
		.card {
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
		.parallax {
			background-image: url('/protected-bg/backgroundParallax2.png');
			height: 100vh;
			width: 100%;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			filter: grayscale(0.4);
			background-size: cover;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
	<div class="parallax">
		<div class="container">
			<div class="d-flex justify-content-center align-items-center">
				<div class="card p-4 bg-light bg-opacity-50" style="max-width: 800px; ">
					<h1 class="text-center">Ajouter une nouvelle catégorie</h1>
					{{ form_start(form) }}
						<div class="mb-3">
							{{ form_label(form.name, 'Nom de la catégorie', {'label_attr': {'class': 'form-label fw-bold'}}) }}
							{{ form_widget(form.name, { 'attr': {'class': 'form-control text-center', "placeholder": "Nom de la catégorie" } }) }}
							{{ form_errors(form.name) }}
						</div>
						<div class="d-flex justify-content-center gap-2">
							<button type="submit" class="btn btn-dark text-white mt-3 px-4">Ajouter</button>
							<a href="{{ path('app_category') }}" class="btn btn-light text-dark mt-3 px-4">Retour à la liste des catégories</a>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}