{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
	<style>
		.containerForm {
			margin-top: 100px;
		}
		.table.bg-light {
			background-color: rgba(0, 0, 0, 0.07) !important;
		}
		.table.bg-light th,
		.table.bg-light td {
			background-color: rgba(255, 255, 255, 0.58) !important;
		}
		.card {
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
	</style>

	<div class="parallax">
		<div class="container-fluid ">
			<div class="row my-5 d-flex justify-content-center">
				<div class="card p-4 bg-light bg-opacity-50" style="max-width: 1400px;">
                    <div class="d-flex flex-column align-items-center">
					    <h1>Liste des produits</h1>
                        <table class="table bg-light table-hover" style="max-width: 1300px;">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Prix</th>
                                    <th>Ville</th>
                                    <th>Département</th>
                                    <th>Surface</th>
                                    {# <th>Couchages</th> #}
                                    <th>Disponible</th>
                                    {# <th>Piscine</th>
                                    <th>Baignoire</th>
                                    <th>Clim</th>
                                    <th>Lave-linge</th>
                                    <th>Sèche-linge</th>
                                    <th>Lave-vaisselle</th>
                                    <th>Chauffage</th> #}
                                    {# <th>Date début</th>
                                    <th>Date fin</th> #}
                                    <th>Catégories</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for product in products %}
                                <tr class="align-middle">
                                    <td style= "width: 80px;">
                                        <a href="{{ path('app_product_show', {'id': product.id}) }}">
                                            {% if product.imageUrl %}
                                                <img src="{{ path('protected_img', {'filename': product.imageUrl }) }}" alt="Image" style="width:120px; max-height:120px;">
                                            {% else %}
                                                <span style="display:inline-block;width:40px;height:40px;background:#eee;"></span>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td>{{ product.id }}</td>
                                    <td>
                                        <a href="{{ path('app_product_show', {'id': product.id}) }}" style="text-decoration: none; color: inherit;">
                                            {{ product.name }}
                                        </a>
                                    </td>
                                    <td style= "width: 130px;">
                                        {{ product.description|length > 40
                                            ? product.description|slice(0, 40) ~ '...'
                                            : product.description
                                        }}
                                    </td>
                                    <td>{{ product.price }} €</td>
                                    <td>{{ product.city }}</td>
                                    <td>{{ product.departement }}</td>
                                    <td>{{ product.surface }}</td>
                                    {# <td>{{ product.couchages }}</td> #}
                                    <td>{{ product.isAvailable ? 'Oui' : 'Non' }}</td>
                                    {# <td>
                                        {% if product.isSwimmingPool %}
                                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 446 446" width="24" height="24">
                                                <path d="M8 281c16 0 23 4 32 9s19 11 39 11 31-6 40-11 16-9 32-9 24 4 32 9c10 5 20 11 40 11s30-6 40-11c8-5 16-9 32-9s23 4 32 9 20 11 40 11 30-6 39-11 16-9 33-9a7 7 0 1 0 0-15c-20 0-31 6-40 11s-16 9-32 9l-18-2V96a27 27 0 0 1 51-11 8 8 0 0 0 14-7c-7-14-22-24-38-24-23 0-42 19-42 42v47h-84V96a27 27 0 0 1 51-11 8 8 0 0 0 13-7c-6-14-21-24-37-24-23 0-42 19-42 42v189l-12 1c-16 0-24-4-32-9-9-5-20-11-40-11s-30 6-39 11-17 9-33 9-23-4-32-9-20-11-40-11a7 7 0 1 0 1 15zm326-123v55h-84v-55h84zm-84 70h84v49c-9-5-20-11-39-11-20 0-31 6-40 11l-5 3v-52zm189 129c-20 0-31 6-40 11s-16 9-32 9-24-4-33-9-19-11-39-11-31 6-40 11c-8 5-16 9-32 9s-24-4-32-9c-9-5-20-11-40-11s-30 6-39 11-17 9-33 9-23-4-32-9-20-11-40-11a7 7 0 1 0 0 15c17 0 24 4 33 9s19 11 39 11 31-6 40-11 16-9 32-9 24 4 32 9c10 5 20 11 40 11s30-6 40-11c8-5 16-9 32-9s23 4 32 9 20 11 40 11 30-6 39-11 16-9 33-9a7 7 0 1 0 0-15z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isBath %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24" height="24" >
                                                <path fill="#fff" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M62 32a6 6 0 0 1-1 4 24 24 0 0 0-5 14h0a6 6 0 0 1-6 6H18a6 6 0 0 1-6-6h0a24 24 0 0 0-5-14 6 6 0 0 1-1-4Z"/>
                                                <path d="M48 60h-4v-4h4zm-28-4h4v4h-4z" class="cls-2"/>
                                                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M47 12V8a4 4 0 0 1 4-4h0a4 4 0 0 1 4 4v24"/>
                                                <path d="M43 16h8a4 4 0 0 0-4-4 4 4 0 0 0-4 4Z" class="cls-2"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isClim %}
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 45 45" width="24" height="24">
                                                <path fill="#3C3C3C" d="M23 8v4l4-3 1 2-5 3v7l6-4v-5h2v4l4-2 1 2-4 2 4 2-1 2-5-3-6 4 6 3 5-3 1 2-4 2 4 2-1 2-4-2v5h-2v-6l-6-4v7l5 3-1 2-4-2v4h-2v-4l-4 2-1-2 5-3v-7l-6 4v6h-2v-5l-3 2-1-2 3-2-4-2 1-2 5 3 6-3-6-4-5 3-1-2 4-2-3-2 1-2 3 2v-4h2v5l6 4v-7l-5-3 1-2 4 3V8h2Z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isLaveLinge %}
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 1024 1024" width="24" height="24">
                                                <path d="M192 998c-69 0-125-56-125-125V151c0-69 56-125 125-125h640c69 0 125 56 125 125v722c0 69-56 125-125 125H192zm-77-125c0 42 35 77 77 77h640c42 0 77-35 77-77V254H115v619zm794-667v-55c0-42-35-77-77-77H192c-42 0-77 35-77 77v55h794z"/>
                                                <path d="M513 900a297 297 0 1 1 1-595 297 297 0 0 1-1 595zM274 673a249 249 0 0 0 488-55c-33 32-85 68-149 68-55 0-94-28-127-52-29-21-53-40-85-40-61 1-115 64-127 79zm126-126c48 0 81 25 114 49 30 22 58 43 98 43 41 0 77-22 99-41 25-20 39-39 41-41l5-5a251 251 0 0 0-244-199 250 250 0 0 0-249 249v11c31-31 80-66 136-66zM233 178c-19 0-35-16-35-35s16-35 35-35 35 16 35 35-15 35-35 35zm112 0c-19 0-35-16-35-35s16-35 35-35 35 16 35 35-15 35-35 35z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isSecheLinge %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="24" height="24">
                                            <path d="M9 3C7 3 6 4 6 6v38c0 2 1 3 3 3h32c2 0 3-1 3-3V6c0-2-1-3-3-3H9zm0 2h32l1 1v38l-1 1H9l-1-1V6l1-1zm22 3a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm6 0a2 2 0 0 0-2 2 2 2 0 0 0 2 2 2 2 0 0 0 2-2 2 2 0 0 0-2-2zm-12 7a12 12 0 1 0 12 12c0-6-5-12-12-12zm0 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20zm-4 5a1 1 0 0 0-1 1l-1 3-1 5a1 1 0 1 0 2 0l1-3 1-5a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1l-1 3-1 5a1 1 0 1 0 2 0l1-3 1-5a1 1 0 0 0-1-1zm5 0a1 1 0 0 0-1 1l-1 3-1 5a1 1 0 1 0 2 0l1-3 1-5a1 1 0 0 0-1-1z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isLaveVaisselle %}
                                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="-11 0 123 123" width="24" height="24">
                                                <path d="M82 14a4 4 0 1 1 0 7 4 4 0 0 1 0-7zM66 90l2-8c0-6-3-11-5-11-3 0-6 5-6 11l2 8c2 5 5 4 7 0zm-35 13h7l-2-7-1-11a50 50 0 0 1 6-23l-2-1-1-1h-1c-2 0-4 3-6 7-2 5-4 11-3 18v10l3 8zm-5 0-2-7-1-11c0-8 1-15 4-20 2-6 6-10 10-10h1l3 1 3 2 6-3 4 1 2 2 6-3h1c4 0 8 4 10 10a59 59 0 0 1 1 39h8a2 2 0 0 0 2-2V48l-2-1H19l-1 1-1 1v53l1 1h8zm18 0h7l-2-7-1-11a50 50 0 0 1 5-23l-1-1-2-1c-2 0-5 3-7 7s-3 11-3 18a53 53 0 0 0 4 18zm12 0h14l2-9a52 52 0 0 0-3-27c-2-4-4-6-6-7h-1c-2 0-4 3-6 7s-4 11-3 18a53 53 0 0 0 3 18zM19 42h63a7 7 0 0 1 7 7v53l-2 4-5 2H19a7 7 0 0 1-7-6V49a7 7 0 0 1 7-7zm-3-28a4 4 0 1 1 0 7 4 4 0 0 1 0-7zm16-1h38v8H32v-8zM5 30h91V5H5v25zm96 87a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6h89a6 6 0 0 1 6 6v111zm-5-83H5v84h91V34z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if product.isChauffage %}
                                            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 485 485" width="24" height="24">
                                                <path d="M485 53H31v38H0v30h31v232h30v79h30v-79h339v79h30v-79h25V53zm-30 270h-55V83h55v240zM231 83h54v240h-54V83zm-30 240h-55V83h55v240zM315 83h55v240h-55V83zM61 83h55v240H61V83z"/>
                                            </svg>
                                        {% else %}
                                            <span style="color:#000;">—</span>
                                        {% endif %}
                                    </td> #}
                                    {# <td>{{ product.startDate ? product.startDate|date('d/m/Y') : '' }}</td>
                                    <td>{{ product.endDate ? product.endDate|date('d/m/Y') : '' }}</td> #}
                                    <td style= "width: 140px; wrap;">
                                        {% for sub in product.subCategory %}
                                            {{ sub.name }}{% if not loop.last %}, {% endif %}
                                        {% else %}
                                            -
                                        {% endfor %}
                                    </td>
                                    <td style="white-space: wrap; max-width: 200px;">
                                        <a href="{{ path('app_reservation_calendar', {'id': product.id}) }}" class="btn btn-outline-dark">Réservations</a>
                                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-outline-primary">Fiche résumé</a>
                                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-outline-danger">Modifier</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="19">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_product_new') }}" class="btn btn-light text-dark mt-3 px-4">Ajouter un produit</a>
                </div>
        	</div>
		</div>
	</div>
{% endblock %}
