{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous Catégorie{% endblock %}


{% block body %}
    <div class="parallax">
        <div class="container containerForm">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card p-4 col-6 bg-light bg-opacity-50 text-center" style="width: 600px;">
                    <form action="{{ path('app_sub_category_delete', {'id': sub_category.id}) }}" method="POST">
                        <h1>Supprimer la sous-catégorie {{ sub_category.name }} reliée à {{ sub_category.category }}</h1>
                        <p>Êtes-vous sûr de vouloir supprimer la sous-catégorie "{{ sub_category.name }}" ?</p>
                        <p>Cette action est irréversible.</p>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_category.id) }}">
                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-danger text-white mt-3 px-4">Supprimer</button>
                            <a href="{{ path('app_sub_category_index') }}" class="btn btn-light text-dark mt-3 px-4">Retour à la liste des sous-catégories</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}